@model QuanLyCuaHangSach.Models.ViewModel.SachViewModel
@using QuanLyCuaHangSach.Extensions

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2 class="text-info">Xóa thông tin Sách</h2>

<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Sach.IDSach" />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Sach.TenSach">Tên Sách</label>
                </div>
                <div class="col-8">
                    <input asp-for="Sach.TenSach" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Sach.Gia">Giá</label>
                </div>
                <div class="col-8">
                    <input asp-for="Sach.Gia" readonly class="form-control" />
                </div>
            </div>
            <!---->
            <div class="form-group row">
                <div class="col-4">
                    <!--The Loai-->
                    <label asp-for="TheLoai">Thể Loại</label>
                </div>
                <div class="col-8">
                    <input asp-for="Sach.TheLoai.TenTheLoai" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TacGia">Tác Giả</label>
                </div>
                <div class="col-8">
                    <input asp-for="Sach.TacGia.TenTacGia" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NhaXuatBan">Nhà Xuất Bản</label>
                </div>
                <div class="col-8">
                    <input asp-for="Sach.NhaXuatBan.TenNhaXuatBan" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Sach.NamXB">Năm Xuất Bản</label>
                </div>
                <div class="col-8">
                    <input asp-for="Sach.NamXB" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Sach.CoSan">Có sẵn</label>
                </div>
                <div class="col-8">
                    <input type="checkbox" disabled readonly class="form-control" asp-for="Sach.CoSan" />
                </div>
            </div>
        </div>

        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Sach.Anh" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Xóa" />
            <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

