@model QuanLyCuaHangSach.Models.NhaXuatBan
@{
    ViewData["Title"] = "Chi Tiết Nhà Xuất Bản";
}

<br />
<h2 class="text-info">Chi Tiết Nhà Xuất Bản</h2>

<div class="p-4 border rounded">
    <div class="form-group row">
            <!---->
            <div class="col-2">
                <label asp-for="TenNhaXuatBan">Tên Nhà Xuất Bản</label>
            </div>
            <div class="col-5">
                <input asp-for="TenNhaXuatBan" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <!---->
            <div class="col-2">
                <label asp-for="DiaChi">Địa Chỉ</label>
            </div>
            <div class="col-5">
                <input asp-for="DiaChi" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <!---->
            <div class="col-2">
                <label asp-for="Email">Email</label>
            </div>
            <div class="col-5">
                <input asp-for="Email" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <!---->
            <div class="col-2">
                <label asp-for="ThongTinNguoiDaiDien">Info Người đại diện</label>
            </div>
            <div class="col-5">
                <input asp-for="ThongTinNguoiDaiDien" disabled class="form-control" />
            </div>
        </div>
    <br />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.IDNhaXuatBan" class="btn btn-primary">Sửa đổi</a>
        <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
    </div>
</div>