@model IEnumerable<QuanLyCuaHangSach.Models.NhaXuatBan>
@{
    ViewData["Title"] = "Nhà Xuất Bản";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh Sách Nhà Xuất Bản</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Thêm Nhà Xuất Bản</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>Tên Nhà Xuất Bản</th>
            <th>Địa Chỉ</th>
            <th>Email</th>
            <th>Info Người đại diện</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.TenNhaXuatBan)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ThongTinNguoiDaiDien)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.IDNhaXuatBan" />
                </td>
            </tr>
        }
    </table>
</div>