@model QuanLyCuaHangSach.Models.NhaCungCap
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Thêm Nhà Cung Cấp mới</h2>

<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <!---->
            <div class="col-2">
                <label asp-for="TenNhaCungCap">Tên Nhà Cung Cấp</label>
            </div>
            <div class="col-5">
                <input asp-for="TenNhaCungCap" class="form-control" />
            </div>
            <span asp-validation-for="TenNhaCungCap" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <!---->
            <div class="col-2">
                <label asp-for="DiaChi">Địa Chỉ</label>
            </div>
            <div class="col-5">
                <input asp-for="DiaChi" class="form-control" />
            </div>
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <!---->
            <div class="col-2">
                <label asp-for="SoDienThoai">Số Điện Thoại</label>
            </div>
            <div class="col-5">
                <input asp-for="SoDienThoai" class="form-control" />
            </div>
            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Tạo mới" />
            <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}