@model IEnumerable<QuanLyCuaHangSach.Models.NhaCungCap>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách Nhà Cung Cấp</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Thêm Nhà Cung Cấp</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>Tên Nhà Cung Cấp</th>
            <th>Địa Chỉ</th>
            <th>Số Điện Thoại</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.TenNhaCungCap)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SoDienThoai)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.IDNhaCungCap" />
                </td>
            </tr>
        }
    </table>
</div>