@using Microsoft.AspNetCore.Http;
@using QuanLyCuaHangSach.Extensions;
@using QuanLyCuaHangSach.Utility;

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyCuaHangSach</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">Quản Lý Cửa Hàng Sách</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(SD.SuperAdminEndUser))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="TheLoai" asp-action="Index">Thể Loại</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="TacGia" asp-action="Index">Tác Giả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="NhaXuatBan" asp-action="Index">Nhà Xuất Bản</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="NhaCungCap" asp-action="Index">Nhà Cung Cấp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Sach" asp-action="Index">Sách</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Người Quản Trị</a>
                            </li>
                        }

                        @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssGioHang") != null)
                        {
                            <li style="color:white">
                                <a asp-area="Customer" asp-controller="GioHang" asp-action="Index" class="nav-link text-dark">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssGioHang").Count();
                                    }
                                    (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white">
                                <a asp-area="Customer" asp-controller="GioHang" asp-action="Index" class="nav-link text-dark">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    @{
                                        var count = 0;
                                    }
                                    (@count)
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - QuanLyCuaHangSach - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
